
{% load custom_filters %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI : LinkedIn Summarizer</title>
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <h1>The AI Powered Summarizer</h1>
    <h2> for <h2 id="Highlight">LinkedIn</h2>
    </h2>

    <p class="typing-erase">A AI Generated Self Intro for linkedin About Section.</p>
    <form action="/output" method="post">
        {% csrf_token %}
        <input type="text" name="url" id="url" value="{{url}}" placeholder="// Enter Your LinkedIn Url">
        <br>
        <button class="btn1"><span>Generate more</span></button>

    </form>
    <button class="btn1" id="btn1" style="margin-left: 50vw;"><span><a href="#Output">Checkout variation</a></button>
        {% if output %}
        {% for i in output reversed  %}
       
        {% if forloop.counter0 %}
    
        <div class="Output" id="Output">
            <span class="type" id ="outputtext{{i}}"style="--n:1000"><b>{{forloop.counter}}</b> {{i}}</span>
            <button class="copyText" onclick="copyText">Copy</button>
        </div>
        {% else %}
        <div id="Output">
            <span class="typeq" id="outputtext{{i}}" style="--n:1000"><b>{{forloop.counter}} </b> {{i}}</span>
            <button class="copyText" onclick="copyText()">Copy</button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

<script>
  
        // Use JavaScript to scroll to the div when the page loads
        document.addEventListener("DOMContentLoaded", function() {
            var scrollToDiv = document.getElementById("btn1");
            scrollToDiv.scrollIntoView();
        });
   


    function copyText(i) {
        var Text = document.getElementById("outputtext"+i).textContent;
        navigator.clipboard.writeText(Text);
    };
     
</script>
</body>
</html>